{% extends 'base.html.twig' %}

{% block title %}Rendezvous index{% endblock %}

{% block body %}
    <h1>Rendezvous index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>DateRV</th>
                <th>Agent</th>
                <th>Agence</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rendezvou in rendezvouses %}
            <tr>
                <td>{{ rendezvou.id }}</td>
                <td>{{ rendezvou.nom }}</td>
                <td>{{ rendezvou.dateRV ? rendezvou.dateRV|date('Y-m-d') : '' }}</td>
                <td>{{ rendezvou.agent }}</td>
                <td>{{ rendezvou.agence }}</td>
                <td>
                    <a href="{{ path('app_rendezvous_show', {'id': rendezvou.id}) }}">show</a>
                    <a href="{{ path('app_rendezvous_edit', {'id': rendezvou.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_rendezvous_new') }}">Create new</a>
{% endblock %}
